<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/style.css">
    <title>ugaeng ID</title>
</head>
<body>
    <div class="wrapper-signup">
        <div class="logo-center">
            <a href="/"><img src="/img/ugaeng_logo.png"></a>
        </div>

        <div>
            <form th:object="${signUpRequest}" th:action="@{/auth/signup}" th:method="post">
                <div class="input-box">
                    <input class="form-control" type="text" th:field="*{username}" placeholder="Username">
                    <i class='bx bxs-user' ></i>
                </div>
                <div class="input-box">
                    <input class="form-control" type="password" th:field="*{password}" placeholder="Password">
                    <i class='bx bxs-lock-alt' ></i>
                </div>

                <div class="btn">
                    <button class="btn" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>