<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
  <title>UGAENG</title>
</head>
<body>

<header class="header">

  <nav class="nav-toolbar">
            <span class="logo-left">
                <a href="/"><img src="/static/img/ugaeng_logo.png" th:src="@{/img/ugaeng_logo.png}"></a>
            </span>
    <span class="profile-btn">
                <img src="https://avatars.githubusercontent.com/u/93924890?v=4"/>
            </span>
  </nav>

</header>


<div class="table">

  <div>
    <h2>게시글 목록</h2>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>제목</th>
        <th>작성자</th>
        <th>조회수</th>
        <th>댓글수</th>
      </tr>
    </thead>
    <tbody>
    <tr th:each="postPage : ${postPages}">
      <td th:text="${postPage.postId}"></td>
      <td th:text="${postPage.title}"></td>
      <td th:text="${postPage.authorName}"></td>
      <td th:text="${postPage.viewCount}"></td>
      <td th:text="${postPage.commentCount}"></td>
    </tr>
    </tbody>

  </table>
</div>

</body>
</html>