<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="/css/bootstrap.min.css" rel="stylesheet">
    <title>UGAENG</title>
</head>
<body>
    <div>
        <h2>User Profile</h2>
        <label>USERNAME</label>
        <input type="text" id="username" name="username" th:value="${userProfileResponse.username}" readonly>
        <hr>

        <div>
            <div>
                <button th:onclick="|location.href='@{/users/{userId}/profile/edit(userId=${userProfileResponse.id})}'|">수정</button>
            </div>
        </div>

    </div>
</body>
</html>