<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">

    <title>UGAENG</title>
</head>
<body>

    <header class="header">

        <nav class="nav-toolbar">
                <span class="logo-left">
                    <a href="/"><img src="/static/img/ugaeng_logo.svg" th:src="@{/img/ugaeng_logo.svg}"></a>
                </span>
            <span class="profile-btn">
                    <img src="https://avatars.githubusercontent.com/u/93924890?v=4"></img>
                </span>
        </nav>

    </header>

    <div class="form">
        <form th:action="@{/users/{userId}/profile/edit(userId=${userProfileResponse.id})}" th:method="post">
            <div>
                <h2>User Profile</h2>
                <label>USERNAME</label>
                <input type="text" id="username" name="username" th:value="${userProfileResponse.username}">
            </div>
            <hr>

            <div>
                <div>
                    <button type="submit">저장</button>
                </div>
            </div>

        </form>
    </div>


</body>
</html>