<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ######### hls 라이브러리를 cdn 방식으로 추가해준다.######### -->
    <script src="//cdn.jsdelivr.net/npm/hls.js@1"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
    <script>
        if (Hls.isSupported()) {
            console.log('Hello HLS.js!');
        }
    </script>
    <title>Hls Practice</title>
    <style>
        video {
            max-width: 500px;
            width: 100%;
            max-height: 500px;
            height: 100%;
            object-fit: fill;
        }
    </style>
</head>

<script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>

<video id="video"></video>
<script>
    if (Hls.isSupported()) {
        var video = document.getElementById('video');

        // If you are using the ESM version of the library (hls.mjs), you
        // should specify the "workerPath" config option here if you want
        // web workers to be used. Note that bundlers (such as webpack)
        // will likely use the ESM version by default.
        var hls = new Hls();

        // bind them together
        hls.attachMedia(video);
        // MEDIA_ATTACHED event is fired by hls object once MediaSource is ready
        hls.on(Hls.Events.MEDIA_ATTACHED, function () {
            console.log('video and hls.js are now bound together !');
        });
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>

<video id="video">
    video.play();
</video>
<script>
    if (Hls.isSupported()) {
        var video = document.getElementById('video');
        var hls = new Hls();
        hls.on(Hls.Events.MEDIA_ATTACHED, function () {
            console.log('video and hls.js are now bound together !');
        });
        hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
            console.log(
                'manifest loaded, found ' + data.levels.length + ' quality level',
            );
        });
        hls.loadSource('http://my.streamURL.com/playlist.m3u8');
        // bind them together
        hls.attachMedia(video);
    }
</script>

</html>

