<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/css/style.css">
  <title>ugaeng</title>
</head>
<body>

  <header class="heaer">
    <div class="logo-center">
      <a href="/"><img src="/img/ugaeng_logo.png"></a>
    </div>
    <div class="signin">
      <p><a th:href="@{/auth/signin}">Sign in</a></p>
    </div>

    <div class="signup">
      <p><a th:href="@{/auth/signin}">Sign up</a></p>
    </div>
  </header>

  <main>

  </main>

</body>
</html>