<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/static/css/style.css" th:href="@{/css/style.css}">
  <title>ugaeng</title>
</head>
<body>

  <header class="header">
    <nav class="nav-toolbar">
      <i class='bx bx-menu'></i>
      <a th:href="@{/posts}"><i id="post-icon" class='bx bx-message-alt-dots'></i></a>
      <span class="auth-btn">
        <a th:href="@{/auth/signin}">Sign in</a>
        <a th:href="@{/auth/signup}">Sign up</a>
      </span>
    </nav>

    <nav class="nav-logo">
       <span class="logo-center">
        <a href="/"><img src="/static/img/ugaeng_logo.svg" th:src="@{/img/ugaeng_logo.svg}"></a>
      </span>
    </nav>
  </header>

  <main class="home-main">
    <div>
      <img src="https://post-stat-view.do-main.site/api/v2/velog-stat/view?username=rudwhd515&show_visitors=true" />
    </div>
  </main>

<!--  <div th:replace="~{/fragment/footer :: copy}"></div>-->
</body>
</html>